@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide native password reveal on Edge/IE */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}


html,
body {
    height: 100%;
    background-color: #FAFAFA;
    color: #374151;
    /* Gray-700 default text for softness */
}